<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
	<script src="/js/jquery-1.12.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-11 col-sm-11">
				<h1 class="text-center">
					Violent Scene Detection Based on Audio CNN
				</h1>
				<h3 class="text-center">
					- Multimedia Computing Lab, Renmin University of China
				</h3>
				<hr/>
			</div>
			<div class="col-md-1 col-sm-1">
				<img src="/images/logo.png" style="width:100px; box-sizing: border-box; float:right; "/>
			</div>
		</div>
		
		
		<div class="tabbable" id="tabs-915251">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#panel-853741" data-toggle="tab" style="font-weight:bold; font-size:20px;">Results Presentation</a>
				</li>
				<li>
					<a href="#panel-947424" data-toggle="tab" style="font-weight:bold; font-size:20px;">Technique Details</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="panel-853741">
		
					<div class="row-fluid">
						<div class="col-md-12 col-sm-12">
						<h3 class="text-center">
							True Positive Samples.
						</h3>
						</div>
					</div>
					<div class="row-fluid">
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/TruePositive/SHOT_009196.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.99424
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/TruePositive/SHOT_008646.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.999937
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/TruePositive/SHOT_007545.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.964117
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/TruePositive/SHOT_010253.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.996196
								</h4>
							</div>
							</div>
						</div>
					</div>
					
					<div class="row-fluid">
						<div class="col-md-12 col-sm-12">
						<h3 class="text-center">
							False Positive Samples.
						</h3>
						</div>
					</div>
					<div class="row-fluid">
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/FalsePositive/SHOT_010505.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.996234
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/FalsePositive/SHOT_010363.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.996535
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/FalsePositive/SHOT_009174.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.999012
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/FalsePositive/SHOT_008427.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.997383
								</h4>
							</div>
							</div>
						</div>
					</div>

					
					<div class="row-fluid">
						<div class="col-md-12 col-sm-12">
						<h3 class="text-center">
							True Negative Samples.
						</h3>
						</div>
					</div>
					<div class="row-fluid">
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/TrueNegative/SHOT_008652.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.000350912
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/TrueNegative/SHOT_009112.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.023072
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/TrueNegative/SHOT_010741.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.00564723
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/TrueNegative/SHOT_008641.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.0353755
								</h4>
							</div>
							</div>
						</div>
					</div>


					<div class="row-fluid">
						<div class="col-md-12 col-sm-12">
						<h3 class="text-center">
							False Negative Samples.
						</h3>
						</div>
					</div>
					<div class="row-fluid">
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/FalseNegative/SHOT_008651.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.00616322
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/FalseNegative/SHOT_010686.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.0355509
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/FalseNegative/SHOT_010688.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.0471749
								</h4>
							</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="media">
							<div class="media-body">
								<video src="/videos/FalseNegative/SHOT_006423.mp4" width="100%"  controls="controls">
								Your browser does not support the video tag.
								</video>
								<h4 class="media-heading">
									Violence Probability: 0.0374795
								</h4>
							</div>
							</div>
						</div>
					</div>		
				</div>
				
				
				<div class="tab-pane" id="panel-947424">
					<div class="row-fluid">
						<div class="col-md-12 col-sm-12">
							<h3 class="text-center">
								System Architecture
							</h3>
							<img src="images/VSD-Architecture.jpg" width="80%" class="img-rounded img-responsive center-block" />
						</div>
					</div>
					<div class="row-fluid" >
						<div class="col-md-12 col-sm-12">
						<hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); margin:3% 0 3% 0" >
						</div >
					</div>
					<div class="row-fluid" >
						<h3 class="text-center" >
							CNN Input Feature
						</h3>
					</div>										
					<div class="row-fluid" style="margin:2% 0 0 0">
						<div class="col-md-6 col-sm-6" >
							<img src="images/Input-data-organization.jpg" width="80%" class="img-rounded img-responsive center-block" style="margin-right: 0;"/>
						</div>
						<div class="col-md-6 col-sm-6" style="border: 1px solid #CCC; border-radius: 4px; height: 100%">
							<h4>
								MFB - Mel Filter Bank
							</h4>
							<p>
								MFB:  Window, shift -> FFT -> Mel Filter -> MFB
								<br />
								MFCC: Window, shift -> FFT -> Mel Filter Bank -> DCT -> MFCC
								<br />
								<br />
								MFCC has less locality feature than MFB because DCT projects the spectrum energy into a new basis. MFB has been used as CNN input features for speech recognition tasks.
								<br /><br />
								We segement videos into chunks with 3s window and 1s shift, and then calculate MFB features with 25ms window and 10ms shift.
								40 dimensional MFB with its delta and delta-delta are used to form 3 feature maps as inputs to CNN.
								<br /><br /><br />
							</p>
						</div>
					</div>
					
					<div class="row-fluid" >
						<div class="col-md-12 col-sm-12">
						<hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); margin:3% 0 3% 0" />
						</div >
					</div>
					<div class="row-fluid" style="clear:both" >
						<h3 class="text-center" >
							Models and Classification
						</h3>
					</div>										
					<div class="row-fluid" style="margin:2% 0 0 0">
						<div class="col-md-6 col-sm-6" >
							<img src="images/VSD-Models-Classification.jpg" width="90%" class="img-rounded img-responsive center-block" style="margin-right: 0;"/>
						</div>
						<div class="col-md-6 col-sm-6" style="border: 1px solid #CCC; border-radius: 4px; height: 40%">
							<h4>
								Models
							</h4>
							<p>
								For CNN model, we explore the best parameters:
								<br />
								&nbsp;&nbsp;&nbsp;Number of Conv-Pooling layers: 3 pairs
								<br />
								&nbsp;&nbsp;&nbsp;Activation Function: Maxout function
								<br />
								&nbsp;&nbsp;&nbsp;Loss Function: Multinomial logistic loss
								<br />
								&nbsp;&nbsp;&nbsp;Dropout: To prevent overfitting.
								<br />
								<br />
								For SVM model, we use features extracted from CNN 'fc1' layer to train SVM.
								<br />
								And train with Negative BootStrap Algorithm because of the unbalanced data.
							</p>
							<h4>
								Classification
							</h4>
							<p>
								Two ways to make classification:
								<br />
								&nbsp;&nbsp;&nbsp;1. Directly by CNN.
								<br />
								&nbsp;&nbsp;&nbsp;2. By SVM trained with deep features.
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
			
	</div>
	<footer class="bottom" style="margin:5% 0 0 0;  text-align: center;">
		<div class="container">
			<p>Multimedia Computing Lab, Renmin University of China</p>
		</div>
	</footer>
  </body>
</html>
